.button {
    display: flex;
    align-items: center;
    padding: 10px; 
    width: 100%;
    text-align: center;
    background-color: #A9D2D5;
    color: white;
    border-radius: 5px;

}


@media (max-width: 600px) {
    .button {
        margin-top: 10px; /* Adjust margin for small screens */
    }
}